@import "../../style.scss";

.comments{
    @include themify($themes){
    .write{
        margin: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        img{
            width: 50px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        input{
            width: 100%;
            padding: 8px;
            border: none;
            border: 1px solid themed("border");
            background-color: transparent;
            color: themed("textColor");
        }
        button{
            background-color: #FF0080;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5%;
            cursor: pointer;
        }
    }
    .comment{
        margin: 30px 0px;
        display: flex;
        justify-content: space-between;
        .left{
            display: flex;
            gap: 15px;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
            .info{
                display: flex;
                flex-direction: column;
                gap: 5px;
                span{
                    font-weight: 500;
                }
                .interact{
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    gap: 7px;
                }
            }
            p{
                max-width: 400px;
                color: themed("textColorSoft");
                margin-top: 0;
            }
        }
        .right{
            align-self: center;
            height: 35px;
            width: 50px;
            button{
                border: none;
                background-color: #5271ff;
                padding: 5px;
                cursor: pointer;
                color: white;
            }
        }
    }
}
}