@import "../../style.scss";

.profile{
    @include themify($themes){
        background-color: themed("bgSoft");
        position: relative;
        z-index: 1;
    .images{
        width: 100%;
        height: 300px;
        position: relative;
        .cover{
            height: 100%;
            width: 100%;
            object-fit: center;
        }
        .profilePic{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 200px;
        }
    }
    .profileContainer{
        padding: 20px 20px;
        @include mobile{
            padding: 10px;
        }
        @include tablet{
            padding: 20px;
        }
        .uInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 180;
        box-shadow: -3px 5px 10px -3px rgba(0,0,0,0.33);
        -webkit-box-shadow: -3px 5px 10px -3px rgba(0,0,0,0.33);
        -moz-box-shadow: -3px 5px 10px -3px rgba(0,0,0,0.33);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        padding: 20px;
        margin-bottom: 20px;
        @include mobile{
            flex-direction: column;
            height: 20vh;
            padding: 20px;
        }

        .left{
            display: flex;
            flex:1;
            gap: 7px;
            a{
                color: #FF0080;
            }
            @include mobile{
                padding-top: 90px;
            }
            @include tablet{
                flex-wrap: wrap;
            }
        }
        .center{
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 100px;
            @include mobile{
                padding-top: 5px;
            }
            span{
                font-size: 25px;
                font-weight: 500;
            }
            .info{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
                .item{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: themed("textColorSoft");
                    span{
                        font-size: 14px;
                    }
                }
            }
            button{
                background-color: #FF0080;
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        .right{
            flex:1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
        }
        }
    }
}
}