@import "../../style.scss";

.rightBar{
    @include themify($themes){
    flex: 2.5;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");
    &::-webkit-scrollbar{
        display: none;
    }
    @include mobile{
        display: none;
    }
    @include tablet{
        display: none;
    }
    
    .container{
        padding: 20px;
        .item{
            box-shadow: -3px 5px 10px -3px rgba(0,0,0,0.33);
            -webkit-box-shadow: -3px 5px 10px -3px rgba(0,0,0,0.33);
            -moz-box-shadow: -3px 5px 10px -3px rgba(0,0,0,0.33);
            padding: 20px;
            margin-bottom: 20px;
            background-color: themed("bg");
            border-radius: 20px;
            span{
                color: themed("textColorSoft");
                font-size: 14px;
            }
            .user{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0px;
                span{
                    font-size: 12px;
                }
                .userInfo{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    position: relative;
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .online{
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        background-color: limegreen;
                        position: absolute;
                        top:0;
                        left: 25px;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 100;
                        color: themed("textColorSoft");
                    }
                    span{
                        font-weight: 500;
                        font-size: 16px;
                        color: themed("textColor");
                    }
                }
                .buttons{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    button{
                        border: none;
                        padding: 5px 15px;
                        color: white;
                        cursor: pointer;
                        border-radius: 5px;
                        &:last-child{
                            background-color: #FF0080;
                        }
                    }
                }
            }
        }
    }
}
}