@import "../../style.scss";

.leftBar{
    @include themify($themes){
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bg");
    &::-webkit-scrollbar{
        display: none;
    }
    @include mobile{
        display: none;
    }
    .container{
        padding: 20px;
        
        hr{
            margin: 20px 0px;
            border: none;
            background-color: themed("border");
            height: 0.5px;
        }
        .menu{
            span{
                font-size: 14px;
                font-weight: 500;
                color: themed("textColorSoft");
            }
            display: flex;
            flex-direction: column;
            gap: 20px;
            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border: 1px solid black;
                    object-fit: cover;
                }
                span{
                    font-weight: 500;
                    font-size: 16px;
                    color: themed("textColor");
                }
            }
            .item{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                img{
                    width: 30px;
                    height: 30px;
                }
                span{
                    font-weight: 500;
                    font-size: 16px;
                    color: themed("textColor");
                }
            }
        }
        
    }
}
}